@import "../../styles//variables";

.dropdown{
    display: inline-block;
    font-size: 1.6rem;
    cursor: pointer;
    // width: 18rem;
    position: relative;
    &-select{
        display: flex;
        border-radius: 4px;
        align-items: center;
        justify-content: space-between;
        background-color: $white-color;
        padding: 2px 12px;
        width: 100%;
       height: 4rem;
       border: 1.4px solid $border-grey-color;
    }
    &-content{
        visibility: hidden;
        width: 100%;
        background-color: $white-color;
        position: absolute;
        &-options{
            display: flex;
        align-items: center;
        justify-content: space-between;
            padding: 2px 12px;
            height: 4rem;
            &:hover{
                background-color: $border-grey-color;
            }
        }
    }
}

