/* //Universal selector// */
@import "./variables";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: "Amarante","Lato", sans-serif;
  box-sizing: border-box;
  line-height: 1.7;
  color:$accent-color ;
  margin: 0;
}