@import "../../styles/variables";
.table {
    width: 100%;
    font-size: 1.8rem;
    padding: 1rem;
    border-collapse: collapse;
  
    &-heading {
      text-align: left;
      background-color: $table-header-color; 
      border-bottom: 2px solid #ddd; 
    }
    &-items {
        &:not(:last-child){
            border-bottom: 0.6rem solid #ddd; 

        }
    }
  
    th, td {
      padding: 12px; 
    }
  }
  